<!doctype html>
<html lang="en" ng-app="appMonkey">
<head>
  <meta charset="utf-8">
  <title>AppMonkey</title>
  <link rel="stylesheet" type="text/css" href="style/font.css">
  <link rel="stylesheet" type="text/css" href="style/main.css">
  <script type="text/javascript" src="js/lib/mousetrap.min.js"></script>
  <script type="text/javascript" src="js/lib/angular.min.js"></script>
  <script type="text/javascript" src="js/app.js"></script>
  <script type="text/javascript" src="js/controller/app_list.js"></script>
</head>
<body class="transition" ng-class="{open: optionsOpen}" ng-init="optionsOpen = false">
  <i class="icon-cog" id="options-btn" ng-click="optionsOpen = !optionsOpen"></i>
  <div id="front" ng-controller="AppListCtrl">
    <input type="text" id="search" class="mousetrap" autofocus="autofocus" ng-model="search.name" ng-change="changeSearchInput()" ng-keydown="keyDownSearchInput($event)"/>
    <div id="applist">
      <ul ng-show="listVisible">
        <am-keybind on="enter" invoke="enterApp()"></am-keybind>
        <am-keybind on="down" invoke="nextApp()"></am-keybind>
        <am-keybind on="up" invoke="previousApp()"></am-keybind>
        <li id="{{app.id}}" class='icon-enter' ng-repeat="app in filteredApps = (apps | filter:search)" ng-click="clickApp(app)" ng-class="{active: app.isActive}" ng-mouseenter="hoverApp(app)">
          <img ng-src="{{app.imgUrl}}" alt="icon for {{app.name}}" ng-if="app.isApp" />
          <span class='icon-link' ng-if="!app.isApp"></span>
          <p>{{app.name}}</p>
        </li>
      </ul>
    </div>
    <span id="hint" ng-hide="listVisible">start typing</span>
    <span id="no" ng-hide="filteredApps.length">no matches</span>
  </div>
  <div id="back">
    <h1><div>Options</div></h1>
  </div>
</body>
</html>